.retirarCarrito {
    background-color: red;
    border: 1px solid red;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    padding: 2% 4%;
    color: white;
    width: 100%;
    display: block;
    font-size: x-large;
    margin-bottom: 5px;
}